@import './variable/color';
@import './variable/font';
@import './variable/size';
@import'./body/sidebar';
.position-sticky {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: nowrap;
}

.bg-default {
    background-color: $Default;
}

.bg-transparent {
    background: transparent;
}

.bg-primary {
    background: $primaryColor;
}

.bg-white {
    background: $whiteColor;
}

body {
    margin: 0;
    padding: 0;
    background: $Default;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px $primaryColor;
    border-radius: 2px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: $Default;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: $primaryColor;
}