.chart {
    display: block;
    background: $whiteColor;
    @include default-size(auto, 1%);
    border-radius: 5px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    .judul {
        text-align: left;
        @include default-size(auto, 1%);
        font-weight: bold;
        font-size: 28px;
    }
    .select {
        height: auto;
        text-align: right;
        margin-top: 42px;
        background: #EEEEEE;
        margin-left: 59%;
        border-radius: 5px;
        padding: 8px;
        padding-left: 0px;
        a {
            @include text-size;
            text-decoration: none;
            font-weight: bold;
            height: auto;
            text-align: center;
            @include character-style($font-family2, medium, 16px, #6C63FF);
            padding: 8px;
            &:hover,
             :active {
                @include opacity-bg($primaryColor, 0.5);
                border-radius: 5px;
                color: $whiteColor;
                padding: 8px;
            }
        }
        .active-select {
            background: $primaryColor;
            border-radius: 5px;
            color: $whiteColor;
            padding: 9px;
        }
    }
    .tahun {
        margin: 5%;
        padding-bottom: 2%;
        text-align: center;
        align-content: center;
        align-items: center;
        color: $primaryColor;
        font-weight: bolder;
        font-size: 24px;
    }
    .keterangan {
        text-align: right;
        font-weight: bold;
    }
}