body {
    @include default-margin;
    background: $whiteColor;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $primaryColor;
    border-radius: 3px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: $primaryColor;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}