.editDataSupplier {
  margin-top: 20px;

  .dataTitle {
    font-family: $font-family1;
    color: $primaryColor;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .breadcrumb {
    background-color: transparent;
    margin-top: -10px;
    margin-bottom: 50px;
    padding: 0;
  }

  form {
    font-family: $font-family2;
  }

  input {
    border: none;
    border-radius: 10px;
  }
  textarea {
    border: none;
    border-radius: 10px;
  }

  .nama {
    margin-bottom: 20px;
  }
  .alamat {
    margin-bottom: 40px;
  }
  .submit {
    margin-bottom: 10px;
  }
  .submit button {
    border: none;
    border-radius: 10px;

    background: linear-gradient(to left, $primaryColor, $fiveColor);
    color: $whiteColor;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
  }
}
