    .sidebar {
        @include default-margin;
        background: $whiteColor;
        margin-top: 0px;
    }
    
    .brand-icon {
        text-align: center;
        @include icon();
    }
    
    .select {
        padding-left: 0px;
        text-align: left;
        margin-top: 68px;
        li {
            list-style: none;
            margin: 9.9%;
        }
        .icon {
            @include default-size(18px, 12px);
            @include opacity-fill($blackColor, 0.49887)
        }
        a {
            text-decoration: none;
            @include character-style($font-family1, medium, 20px, $blackColor);
            @include opacity-clr($blackColor, 0.4987);
            &:hover {
                text-decoration: none;
                color: $primaryColor;
            }
            &:active {
                color: $primaryColor;
            }
        }
        .aktif {
            color: $primaryColor;
        }
        .block {
            display: inline-block;
            position: relative;
            text-align: end;
            font-size: 12px;
            line-height: 14px;
            background-color: $primaryColor;
        }
    }