.welcome {
    @include opacity-bg($primaryColor, 0.3);
    @extend .chart;
    margin: 1%;
    color: $primaryColor;
    font-weight: bolder;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    min-height: auto;
    align-content: center;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    .logo {
        margin-top: 6%;
    }
    .ilustration {
        margin-top: -40%;
    }
    div {
        margin-top: 3%;
    }
}