.editDataLaporan {
  margin-top: 20px;

  .dataTitle {
    font-family: $font-family1;
    color: $primaryColor;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 3px;
  }

  .breadcrumb {
    background-color: transparent;
    margin-top: -10px;
    margin-bottom: 50px;
    padding: 0;
  }

  form {
    font-family: $font-family2;
  }
  form p {
    font-size: 18px;
  }

  input {
    border: none;
    border-radius: 10px;
  }
  select {
    border: none;
    border-radius: 10px;
  }
  textarea {
    border: none;
    border-radius: 10px;
  }

  .bencana {
    margin-bottom: 15px;
  }
  .tanggal {
    margin-bottom: 15px;
  }
  .kalkulasi {
    margin-bottom: 20px;
  }
  .jmlh {
    margin-bottom: 15px;
  }
  .keterangan {
    margin-bottom: 20px;
  }
  .foto {
    margin-bottom: 50px;
  }

  .jam p {
    text-align: right;
  }
  .jmlh-meninggal p {
    text-align: right;
  }

  .submit {
    margin-bottom: 20px;
  }
  .submit input {
    background: linear-gradient(to left, $primaryColor, $fiveColor);
    color: $whiteColor;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
  }

  .reset {
    margin-bottom: 30px;
  }
  .reset a {
    border: none;
    border-radius: 10px;
    color: $whiteColor;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
  }
}
